@font-face {
  font-family: "Roboto-Regular";
  src: url("./assets/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("./assets/Roboto-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Light";
  src: url("./assets/Roboto-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("./assets/Roboto-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
